h1{
    text-align: center;
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: #050505;
    background-color: rgb(193, 189, 189);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
a{
    margin-bottom: 5px;
    margin-left: 270px;
    font-family: Arial, sans-serif;
    color: #050505;
    background-color: rgb(193, 189, 189);
    padding: 20px;
    cursor: pointer;
}
a.btn, a.btn-primary {
    font-size: 24px;
    padding: 15px 40px;
}
input{
    margin-bottom: 25px;
    font-family: Arial, sans-serif;
    color:rgb(18, 17, 17);
    background-color:rgb(233, 231, 220);
    border-radius: 50px;
    padding: 10px;
}